*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.wrapper{
  width: 1100px;
  margin: 0 auto;
}
.from{
  width: 480px;
  height: 500px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 20px;
  padding:45px 10px 10px 130px ;
  background: rgba(196, 196, 196, .5);
}
h1 {
  margin-right: 90px;
  border-radius: 8px;
  height: 45px;
  padding-left: 25px;
}
.fp{
  font-size: 21px;
  padding-left: 25px;
  cursor: pointer;
}
.fp a{
  color: rgb(6, 130, 245);
}
.from p a:hover{
  color: rgb(240, 32, 32);
  transition: 1s;
}
.from-1 label{
font-size: 20px;
font-weight: bold;
}
.from-1 input{
  width: 220px;
  height: 35px;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid darkgray;
  border-radius: 8px;
  font-size: 18px;
  padding-left: 15px;
}
.button{
  padding-left: 35px;
}
.button input{
  width: 150px;
  height: 37px;
  font-weight: bold;
  font-size: 20px;
  background: rgb(189, 212, 231);
  cursor: pointer;
}
.create a{
  background: rgba(7, 241, 105,.6);
  color: rgb(0, 0, 0);
  font-size: 21px;
  border: 1px solid darkgray;
  padding: 10px;
  border-radius: 10px;
}